.text{
    font-family: 'Nunito Sans';
    text-align: center;
}

ion-label{
    font-family: 'Nunito Sans';
}


.submit-btn {
    font-family: 'Nunito Sans';
    font-size: 18px;
    margin-top: 40px;
   }

   .error{
    font-family: 'Nunito Sans';
    color: rgb(161, 24, 0);
    margin-top: 10px;
    font-size: 18px;
   }