<ion-header>
  <ion-toolbar>
    <ion-title>Stiletto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <p class="text"> Complete your registration! </p>
  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegisterUsername(validations_form.value)">

    <ion-item>
      <ion-label position="stacked" color="primary">Email</ion-label>
      <ion-input type="text" readonly>{{message.email}}</ion-input>
    </ion-item>
   

    <ion-item>
      <ion-label position="floating" color="primary">Username</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.username">
        <div class="error ion-margin-horizontal" *ngIf="validations_form.get('username').hasError(validation.type) && 
        (validations_form.get('username').dirty || validations_form.get('username').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button  class="submit-btn ion-margin" expand="block" type="submit" [disabled]="!validations_form.valid">Continue</ion-button>
    <label class="error ion-margin-horizontal">{{errorMessage}}</label>
    
    
  </form>
    
 
</ion-content>