.text{
    font-family: 'Nunito Sans';
    text-align: center;
}

ion-label{
    font-family: 'Nunito Sans';
}


.submit-btn {
    font-family: 'Nunito Sans';
    font-size: 18px;
    margin-top: 40px;
   }