<ion-header>
  <ion-toolbar>
    <ion-title>{{userInfo.username}}</ion-title>
      <ion-button fill="clear" (click)="OpenSettingsPopup($event)">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="top" *ngIf="isLoaded1 && isLoaded2">


    <div id="profilephotodiv">
      <img class="profile-photo" src="{{userInfo.profilephoto}}">
    </div>

    <div style="float:right; width: 70%; height: fit-content;">
      <ion-grid class="headerinfo">
        <ion-row>
          <ion-col>
            <p class="text">
              <strong>{{nposts}}</strong><br>
              <em>posts</em>
            </p>
          </ion-col>
          <ion-col>
            <p class="text">
              <strong>{{userInfo.followers.length}}</strong><br>
              <em>followers</em>
            </p>
          </ion-col>
          <ion-col>
            <p class="text">
              <strong>{{userInfo.following.length}}</strong><br>
              <em>following</em>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>




  </div>


  <div id="bottom">
    <ion-grid id="gallery" *ngIf="isLoaded2">
      <ion-row>
        <ion-col size="4" *ngFor="let result of results">
          <ion-img src="{{result.imagepath}}" (click)="OpenPost(result.idpost)"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>