ion-title{
    font-family: 'Nunito Sans';
    font-size: x-large;
}


img{
    //width: 100%;
    position:relative;
    overflow:hidden;
    width: var(--input-custom-width);
    height: var(--input-custom-width);
}


ion-grid{
 --ion-grid-padding: 1px;
 --ion-grid-column-padding: 1px;
 //--ion-grid-row-padding: 0%;

}


