<ion-list>
  <ion-item>
    <ion-button fill="clear" (click)="Logout()">
      Logout
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button fill="clear">
      Change profile picture
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button fill="clear">
      Privacy Settings
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button fill="clear">
      Notifications
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button fill="clear">
      Security
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button fill="clear">
      Help
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button fill="clear">
      About
    </ion-button>
  </ion-item>
</ion-list>


