.button{
    font-family: 'Nunito Sans';
    margin-left: 25%;
    width: 50%;
    font-size: 18px;
}


.row{
    margin-top: 5%;
}

.buttonsBottom{
    margin-top: 5%;
}

.error{
    font-family: 'Nunito Sans';
    color: rgb(161, 24, 0); 
    margin-top: 5px;
    font-size: 18px;
}