.button{
    margin-left: 10%;
    width: 80%;
    height: 130%;
}


.buttonsBottom{
    margin-top: 60px;
}

.error{
    font-family: 'Nunito Sans';
    color: rgb(161, 24, 0);
    margin-top: 10px;
    font-size: 18px;
}