<ion-card>

  <!-- Header: Avatar + Username -->
  <ion-row id='postHeader'>
    <ion-col size="2">
      <ion-avatar>
        <img src="{{profilephoto}}">
      </ion-avatar>
    </ion-col>
    <ion-col size="7">
      <ion-button fill="clear" (click)="GoToProfilePage()">
        <p style="color: black;">{{username}}</p>
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button style="float: right;" fill="clear" (click)="OpenPostOptions($event)">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>



  <!-- Imagem -->
  <ion-row>
    <img style="width: 100%;" src="{{imagepath}}">
  </ion-row>
  
  
  
  
  <!-- Botões de ícones: Comentários + Likes + Saved -->
  <div class='postIcons'>
    <ion-row class='postIconsInside'>
      <ion-col size="3">

      </ion-col>
      <ion-col size="3" class="icons" (click)="OpenComments()">
        <ion-button fill="clear">
          <ion-icon style="padding: 3px;" ion-align-self-center name="chatbox-outline"></ion-icon>
          <ion-label ion-align-self-center>{{2+ comments.length}}</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="3" class="icons">
          <ion-button fill="clear" (click)="Like()">
            <ion-icon style="padding: 3px;" ion-align-self-center name="heart-outline" *ngIf="!isLiked"></ion-icon>
            <ion-icon style="padding: 3px;" ion-align-self-center name="heart" *ngIf="isLiked"></ion-icon>
            <ion-label ion-align-self-center>{{nlikes}}</ion-label>
          </ion-button>
      </ion-col>
      <ion-col size="3" class="icons">
          <ion-button fill="clear" (click)="Save()">
            <ion-icon style="padding: 3px;" ion-align-self-center name="bookmark-outline" *ngIf="!isSaved"></ion-icon>
            <ion-icon style="padding: 3px;" ion-align-self-center name="bookmark" *ngIf="isSaved"></ion-icon>
            <ion-label ion-align-self-center>{{nsaves}}</ion-label>
          </ion-button>
      </ion-col>
    </ion-row>
  </div>
 





  <!-- Descrição -->
  <ion-row class="descriptionbox">
    <p>{{description}}</p>
  </ion-row>


   <!-- Hashtags -->
   <ion-row class="hashtagsbox">
    <p>{{hashtags}}</p>
  </ion-row>

  <!-- Data de Publicação -->
  <ion-row class="datetimebox">
    <p style="font-size: 14px">{{datetime}}</p>
  </ion-row>


  
</ion-card>
